@import url('./font.css');
@import url('./user.css');

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.main-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3c4043;
}
.main-center-modal .ivu-modal {
  top: -100px;
  width: 340px;
}
.main-center-modal .ivu-modal-close {
  display: none;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #c5c8ce;
  border-radius: 5px;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.main-user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0;
}

.login-button span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 700px;
    height: 600px;
    opacity: 0;
  }
}
.main-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-main-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 576px) {
  .main-center-modal .ivu-modal {
    width: 80% !important;
  }
}
