@import url('./font.css');
@import url('./user.css');
@import url('./modal.css');
@import url('./index.css');
@import url('./scroll.css');
@import url('./tree.css');

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.ivu-select-item,
.ivu-select {
  color: #000;
}
.ivu-btn-success {
  background: #2ea44f;
}
.ivu-btn-success[disabled] {
  background-color: #f7f7f7;
}
.tox.tox-tinymce {
  border-width: 0;
}
.main-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3c4043;
}
.main-center-modal .ivu-modal {
  top: -100px;
  width: 340px;
}
.main-center-modal .ivu-modal-close {
  display: none;
}


.main-user-rotate-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0;
}
.main-user-portrait {
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: linear-gradient(130deg, #5c2a9d, #0779e4 80%);
  font-weight: bold;
  font-size: 16px;
  color: #e8eaec;
  justify-content: center;
  user-select: none;
}
.main-user-rotate-image:hover {
  transform: rotate(666turn);
  transition: all 60s cubic-bezier(.34, 0, .84, 1) 1s;
}
.login-button span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}
.main-logo {
  width: 60px;
  height: 30px;
  background-size: 100% 100%;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.main-success-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  min-height: 32px;
  min-width: 80px;
  outline: 0;
  border-radius: 4px;
  background: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1), inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
  color: #fff;
  cursor: pointer;
}
.main-center-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-success-button:hover {
  background-color: #2c974b;
  color: #fff;
}
.main-spin-icon-load {
  animation: ani-main-spin 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 700px;
    height: 600px;
    opacity: 0;
  }
}

@keyframes ani-main-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 576px) {
  .main-center-modal .ivu-modal {
    width: 80% !important;
  }
}
