body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, .3);
  border-radius: 5px;
}
body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  background-color: #f0f2f5;
  width: 8px;
  height: 8px;
}
.ivu-select-dropdown::-webkit-scrollbar-thumb,
.scroll-hover::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, .3);
  border-radius: 5px;
}

.ivu-select-dropdown::-webkit-scrollbar,
.scroll-hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
