.ivu-tree-children .ivu-tree-arrow {
  line-height: 30px;
}
.ivu-tree-title {
  width: calc(100% - 12px);
  color: #000;
  transition: none;
  height: 30px;
  line-height: 30px;
}
.ivu-tree-arrow i {
  font-size: 16px;
}
.tree-select.ivu-tree-title-selected,
.tree-select.ivu-tree-title-selected:hover {
  background-color: #d5e8fc;
}
.tree-row-wrap {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 30px;
}
.ivu-tree-title:hover .tree-row .ivu-icon {
  opacity: 1;
}
.tree-row .ivu-icon {
  opacity: 0;
}
.tree-row {
  display: flex;
  align-items: center;
}
.tree-row-icon-home,
.tree-row-icon-file,
.tree-row-icon-note {
  flex-shrink: 0;
  display: inline-block;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
}

.tree-row-icon-file {
  background-image: url('../svg/file.svg');
}
.tree-row-icon-note {
  background-image: url('../svg/note.svg');
}
.tree-row-icon-home {
  background-image: url('../svg/home.svg');
}
.tree-row-icon {
  margin: 0 0 0 5px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  border-radius: 4px;
}
.tree-select {
  background: #eaf4fe;
}
.ivu-tree-title-selected .ivu-icon,
.tree-select .ivu-icon {
  opacity: 1;
}
